/* CSS Document */

body {
background-color:#00FF99;
font-family:Verdana;
font-size:12px;
color:#424242;
}

p.title {
background-color: #2b19d2;
color: #ffffff;
font-weight:bold;
margin:5px;
padding:5px;
}

#coolmenu{
border: 1px solid gray; /*—тиль рамки */
border-bottom-width: 0;
width: 93%; /*Ўирина меню */
background-color: #f6f6f6;  /*‘оновый цвет ¤чейки*/
margin:8px; /*Ўирина отступов*/
}

* html #coolmenu{ 
width: 150px;/*Ўирина меню дл¤ Internet Explorer*/
}

#coolmenu a{
font: bold 13px Verdana; /*Ўрифт текста*/
padding: 2px; /*¬нутренний отсутп текста ссылки от краев ¤чейки*/
padding-left: 4px;/*¬нутренний отсутп текста ссылки от левого кра¤ ¤чейки*/
display: block;
width: 100%; /*Ўирина ¤чейки*/
color: #000000;  /*÷вет текста*/
text-decoration: none; /*ѕодчеркивание у ссылок - нет*/
border-bottom: 1px solid gray;
}

html>body #coolmenu a{ 
width: auto;
}

#coolmenu a:hover{
background-color: #cccccc; /*‘оновый цвет ¤чейки при наведение курсора*/
color: #000000;  /*÷вет текста при наведении курсора*/
}

td.maintext {
padding: 15px;
}

p {
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;
color:#424242; margin:15px;}
}

p.title1 {
background-color: #fd3333;
color: #ffffff;
font-weight:bold;
margin:5px;
padding:5px;
}

img.mini {
height: 55px;
margin-right: 10px;
}


.post_comment {
font-size:15px;
font-weight:bold;
color:#cc0000;
}

.post_comment_add {
font-size:11px;
}

.post_add {
font-size:11px;
margin-top:10px;
margin-bottom:10px;
font-weight:bold;

}

.post_div {
border-top:1px solid gray;
border-bottom:1px solid gray;
margin:15px;
}

.post_div p {
margin-left:0px;
}

a.coolmenu1 {
background-color: #fff;
color: #000000;
font: bold 13px Verdana;
padding-left: 5px;
display: block;
text-decoration: none;
background-color: #f6f6f6;
border: 1px solid gray;
}

a.coolmenu1:hover{
background-color: #cccccc; /*‘оновый цвет ¤чейки при наведение курсора*/
color: #000000;  /*÷вет текста при наведении курсора*/
}

table.cooltable0 {
border: 1px solid #000000;
}
img.cooltable0 {
border: 1px solid #000000;
}
td.cooltable0 {
border: 1px solid #000000;
}

table.cooltable {
border: 1px solid #000000;
margin-top: -17px;
}








